.blackCard {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #2c2c2c;
  padding: 1em;
  border-radius: 5px;
}

.whiteCard {
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: .5em 1em;
  margin-bottom: .5em;
}

.whiteCardSelect {
  cursor: pointer;
}

.whiteCardSelect:hover {
  box-shadow: 1px 1px 3px #888;
}

.table>tbody>tr>td {
  border: none;
  vertical-align: middle;
  padding: 0 .5em .5em 0;
}

.test1 {background-color: #269abc;}
.test2 {background-color: #3c763d}

.whiteCardItems {
  border-top: darkgray solid 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.alert {
  font-size: 16px;
}

.navbar-inverse .navbar-brand {
  font-weight: bold;
  color: white;
}
.license {
  margin-top: 3em;
}
